.cell{
    width: 75px;
    height: 75px;
    border:2px solid;
font-size: 50px;
cursor: pointer;
}

#gameContainer{

   font-family: "Permanent Marker", cursive, sans-serif;
    text-align: center;
}



#cellContainer{
    display: grid;
    grid-template-columns: repeat(3,auto);
    width: 225px;
    margin:auto;
   

}
#statusText {
    font-style: normal;
}
#restartButton
 {  
    background-color: #2D9596;
    color: white;
    height: 50px;
    width:70px;
    border-radius: 10px;
 }
